@media only screen and (max-width: 2000px){
	#about{
		text-align: center;
		letter-spacing: 0.1px;
		> .aboutus{
			display: inline-block;
			font: 18px $font_main;
			margin-bottom: 50px;
			margin-top: -40px;
			width: 79.5%;
			> .subtitle{
				text-align: left;
				> h2{
					color: #242a3a;
					> .max{
						color: #016776;
						font: bold 40px $font_main;
						margin-left: 3%;
					}
				}
			}
			> .aboutus__itens_G{
				background-color: #242a3a;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				margin: 0 auto;
				margin-top: -10px;
				min-height: 400px;
				min-width: 900px;
				text-align: center;
				width: 80%;
				> .presentation{
					border: 2px solid white;
					border-radius: 10px;
					color: white;
					height: 400px;
					margin-top: 20px;
					margin-right: 20px;
					margin-left: 20px;
					margin-bottom: 20px;
					padding: 8px;
					padding-top: 15px;
					width: 30%;
					p{
						font: 13px $font_main;
						text-align: justify;
						text-indent: 15px;
					}
				}
				> .about__item{
					background-color: #3e4d74;
					border-radius: 10px;
					color: white;
					height: 350px;
					margin-top: 45px;
					margin-right: 20px;
					margin-left: 20px;
					margin-bottom: 45px;
					padding: 8px;
					padding-top: 15px;
					width: 30%;
					p{
						font: 13px $font_main;
						text-align: justify;
						text-indent: 15px;
					}
					ul{
						font: 13px $font_main;
						margin-left: 20px;
						padding-left: 0px;
						text-align: left;
					}
				}
			}
		}			
	}
}
@media only screen and (max-width: 1200px) {
	#about{
		text-align: center;
		letter-spacing: 0.1px;
	> .aboutus{
			display: inline-block;
			font: 18px $font_main;
   		 	height:auto;
			margin-bottom: 50px;
			margin-top: -40px;
			width:auto;
			> .subtitle{
				text-align: left;
				> h2{
					color: #242a3a;
					> .max{
						color: #016776;
						font: bold 40px $font_main;
						margin-left: 3%;
					}
				}
			}
			> .aboutus__itens_G{
				border-radius: 6px;
				display: inline-block;
    			height:auto;
				margin-top: -10px;
				min-width: 100%;
				position: relative;
				text-align: center;
				> .presentation{
					border: 2px solid white;
					border-radius: 10px;
					color: white;
    				height: auto;
					margin: 0 auto;
					margin-top: 20px;
					margin-bottom: 20px;
					max-width: 630px;
					padding: 8px;
					padding-top: 15px;
					width: 90%; 
					p{
						font: 13px $font_main;
						text-align: justify;
						text-indent: 15px;
					}
				}
				> .about__item{
					background-color: #3e4d74;
					border-radius: 10px;
					color: white;
    				height: auto;
					margin: 0 auto;
					margin-bottom: 20px;
					max-width: 630px;
					padding: 8px;
					padding-top: 15px;
  					width: 90%; 
					p{
						font: 13px $font_main;
						text-align: justify;
						text-indent: 15px;
					}
					ul{
						font: 13px $font_main;
						margin-left: 20px;
						padding-left: 0px;
						text-align: left;
					}
				}
			}
		}			
	}
}