#about{
	> .aboutus{
			font: 20px $font_main;
			margin-bottom: 50px;
			text-indent: 70px;
			text-align: justify;
		}
}

.faixa{
	content: "";
	background: #28959e;
    width: 100%;
    display: block;
    height: 10px;
    position: relative;
    margin-top: 20px;
    top: 45px;
}