a{
	outline: none;
	img{
		border: none;
	}
}
.content{
	@include make-row;
}

.navegacao-fixa{
	position: fixed;
	top: 0;
	z-index: 999;
	background: rgba(2, 170, 196, 0.8) !important;
}
.navegacao-fixa .navbar{
	background: transparent !important;
}
.container{
	.heading,
	.widget > .widget__title{
		margin: 0 0 30px;
		font: bold 18px $font_main;
		color: #fff;
		background-color: $heading_color;
		padding: 0px;
		position: relative;
		line-height: 75px;
		> span{
			position: absolute;
			top: 0;
		}
	}
	.heading{
		text-align: center;
		left: 0;
		right: 0;
	 	@include make-md-column(12);
	}
	.widget > .widget__title{
		> span{
			left: 0;
		}
	}
}	
	
.faixa{
	background: #28959e;
    width: 100%;
    display: block;
    height: 15px;
    position: relative;
}

.sprite_servicos{
	background-image: url('../images/spriteservicos.png');
	background-repeat: no-repeat;
}