#contato{
  > #contato__items{
    margin-bottom: 40px;
    min-height: 325px;
    min-width: 350px;
    text-align: center;
      > .form__contato{
        display: inline-block;
        width: 90%;
        max-width: 700px;
        max-height: 350px;
        min-width: 350px;
        min-height: 330px;
        text-align: center;
        > .form-inline{
          input{
            border: 0;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px;
            display: inline-block;
            font: 16px $font_main;
            margin: 0.5%;
            margin-bottom:15px;
            min-width: 250px;
            width: 45%;
          }
          select{
            border: 0;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px;
            display: inline-block;
            font: 16px $font_main;
            margin: 0.5%;
            margin-bottom:15px;
            min-width: 250px;
            width: 45%;
          }
        }
      > textarea{
          border-radius: 5px;
          box-shadow: inset 0 1px 2px;
          display: inline-block;
          font: 16px $font_main;
          height: 40%;
          margin:10px;
          margin-bottom:20px;
          min-width: 300px;
          min-height: 125px;
          resize: none;
          width: 92%;
        }
        > #group__enviar{
          margin-top: 15px;
          margin-bottom: 20px;
          > #btn__enviar{
            width: 30%;
            min-width: 200px;
            min-height: 40px;
            font: bold 16px $font_main;
            border: 1px solid #888888;
            background-color: #EEEEEE;
            &:hover{
            background-color: $heading_color;
          }
          &,&:hover{
            transition: all 0.5s linear;
          }
          }
        }
      }
  }
}