#contato{
  font: 18px $font_main;
  > .formulario__ico{
    color: #fff;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2px;
    label{
      margin-top: -10px;
    }
  }
  > #contato__items{
    color: #fff;
    margin-bottom: 40px;
    min-height: 325px;
    text-align: center;
    > .form__contato{
      display: inline-block;
      font-size: $font_form;
      min-height: 330px;
      > .form-inline{
        > .form-group{
          @include make-xs-column(12);
          @include make-sm-column(6);
          @include make-md-column(6);

          display: inline-block;
          margin-top: 0;
          margin-bottom: 0;
          min-width: 200px;
          text-align: center;
          .campo__obrigatorio{
            font-size: 13px;
            color:#FF0000;
          }
          .divError{
            min-height: 20px;
            position: relative;
            > label{
              color: #F44336;
              font-size:  12px;
              left: 50%;
              margin-left: -100px;
              position: absolute;
              width: 200px;
            }
          }
          //Div criada para resolução de um bug
          .divError2{
            margin-top: 62px;
            min-height: 17px;
            position: relative;
            width: 100%;
            > label{
              color: #F44336;
              font-size:  12px;
              left: 50%;
              margin-left: -100px;
              position: absolute;
              width: 200px;
            }
          }
          > label{
            float: left;
            font-weight: bold;
            margin-left: 3%;
          }
          > input{
            border-radius: $border_radius;
            margin: 0.5%;
            margin-bottom:5px;
            min-width: 190px;
            width: 98%;
          }
          > select{
            border-radius: $border_radius;
            font-weight: bold;
            margin: 0.5%;
            margin-bottom:5px;
            min-width: 190px;
            width: 98%;
          }
        }
        > #group__assunto{
            margin-top: 8px;
            min-height: 85px;
            > #label__assunto{
              display: inline-block;
              font-weight: bold;
              margin-left: 2.5%;
              text-align: left;
            }
            > select{
              border-radius: $border_radius;
              display: inline-block;
              float: left;
              font-weight: bold;
              margin: 0.5%;
              min-width:190px;
              width: 98%;
            }
        }
        > #group__mensagem{
          @include make-sm-column(12);
          @include make-md-column(12);

          margin-bottom: 0;
          > #mensagem2{
              float: right;
              text-align: right;
          }
          > textarea{
            border-radius: $border_radius;
            display: inline-block;
            height: 40%;
            margin-bottom:5px;
            min-height: 125px;
            min-width: 190px;
            resize: none;
            width: 100%;
          }
        }
        > #group__enviar{
          @include make-sm-column(12);
          @include make-md-column(12);

          margin-bottom: 25px;
          margin-top: 15px;
          > #btn__enviar{
              background-color: #EEEEEE;
              border: 1px solid #888888;
              border-radius: 5px;
              font-weight: bold;
              min-height: 40px;
              min-width: 200px;
              width: 30%;
              &:hover{
                color: #fff;
                background-color: #03A9F4;
                border: 1px solid #03A9F4;
              }
              &,&:hover{
                transition: all 0.2s linear;
              }
            }
          }
        > #group__cv{
          display: none;
          .input__cv{
            display: none;
          }
        }
        #group__cv.ativo{
          display: flex;
          min-height: 80px;
          margin-bottom: 12px;
          justify-content: center;
          align-items: center;
          .label__cv{
            display: inline-block;
            background-color: #EEEEEE;
            border: 1px solid #888888;
            border-radius: 5px;
            cursor: pointer;
            color: #000;
            padding: 6px 20px;
            min-width: 200px;
            width: 30%;
            &:hover{
              color: #fff;
              background-color: #03A9F4;
              border: 1px solid #03A9F4;
            }
            &,&:hover{
              transition: all 0.2s linear;
            }
          }
        }
      } 
    }
    > .fale__conosco{
      font-size: 20px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: -15px;
      text-align: center;
    }
    > .contato__telefones{
      color: #15ff70;
      font-size: 70%;
      font-weight: bold;
      text-align: center;
      > .contato__telefone{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(4);

        display: inline-block;
        text-decoration: none;
        margin-bottom: -20px;
      }
    }
  }
}
