#contato{
  > #contato__items{
  margin-bottom: 40px;
  min-height: 325px;
  min-width: 200px;
  text-align: center;
    > .form__contato{
      display: inline-block;
      margin-top: 10px;
      max-width: 700px;
      min-height: 330px;
      min-width: 200px;
      width: 90%;
      > .form-inline{
        > .form-group{
          display: inline-block;
          margin-top: 0;
          min-width: 200px;
          text-align: center;
          width: 47%;
          .campo__obrigatorio{
            font-size: 13px;
            color:#FF0000;
          }
          .divError{
            min-height: 20px;
            position: relative;
            width: 100%;
            > label{
              color: red;
              font:  12px $font_main;
              left: 50%;
              margin-left: -100px;
              position: absolute;
              width: 200px;
            }
          }
          //Div criada para resolução de um bug
          .divError2{
            margin-top: 62px;
            min-height: 17px;
            position: relative;
            width: 100%;
            > label{
              color: red;
              font:  12px $font_main;
              left: 50%;
              margin-left: -100px;
              position: absolute;
              width: 200px;
            }
          }
          > label{
            float: left;
            font: bold 14px $font_main;
            margin-left: 3%;
          }
          > input{
            border-radius: $border_radius;
            font: $font_form $font_main;
            margin: 0.5%;
            margin-bottom:5px;
            min-width: 190px;
            width: 98%;
          }
          > select{
            border-radius: $border_radius;
            font: bold $font_form $font_main;
            margin: 0.5%;
            margin-bottom:5px;
            min-width: 190px;
            width: 98%;
          }
        }
        > #group__assunto{
            margin-top: 8px; 
            min-height: 85px;
            min-width: 335;
            width: 60%;
            > #label__assunto{
              display: inline-block;
              font: bold $font_form $font_main;
              margin-left: 2.5%;
              text-align: left;
            }
            > select{
              border-radius: $border_radius;
              display: inline-block;
              float: left;
              font: bold $font_form $font_main;
              margin: 0.5%;
              min-width:190px;
              width: 98%;
            }
        }
        > #group__mensagem{
          margin-bottom: 0;
          width: 94%;
          > #mensagem1{
              margin-left: 1.5%;
          }
          > #mensagem2{
              float: right;
              font: $font_form $font_main;
              text-align: right;
          }
          > textarea{
            border-radius: $border_radius;
            display: inline-block;
            font: $font_form $font_main;
            height: 40%;
            margin-bottom:5px;
            min-height: 125px;
            min-width: 190px;
            resize: none;
            width: 100%;
          }
        }
        > #group__enviar{
          margin-bottom: 25px;
          margin-top: 15px;;
          > #btn__enviar{
              background-color: #EEEEEE;
              border: 1px solid #888888;
              font: bold $font_form $font_main;
              min-height: 40px;
              min-width: 200px;
              width: 30%;
              &:hover{
                background-color: $heading_color;
              }
              &,&:hover{
                transition: all 0.5s linear;
              }
            }
          }
        //Div criada para alinhamento do formulário
        > #group__div{
          margin: 0;
          min-width: 202px;
          width: 34%;
        }
      } 
    }
    > .contato__telefones{
      font: bold 20px $font_main;
      color: #17d64d;
      margin-top: 20px;
      width: 100%;
      > .contato__telefone{
        display: inline-block;
        margin: 0;
        min-width: 475px;
        width: 47%;
      }
    }
  }
}
