body{
	> footer{
		background: #1c1c1c;
		padding: 35px 0 95px;
		#footer-sidebar{
			> .footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);

				> h4.widget__title{
					position: relative;
					margin: 12px 0;
					height: 36px;
					font: 22px $font_main;
					color: #fff;
					text-indent: 12px;
					padding-top: 3px;
					> span{
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 5px;
						height: 36px;
						background:#02aac4;
						
					}
				}
				p{
					color: #777;
					font: bold 12px $font_main;
				}
				iframe{
					scrolling: no;
					frameborder: 0;
					allowTransparency: true;
					height: 210px;
					width: 340px;
					border: none;
					overflow:hidden;
				}

				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						margin: 20px 0 0;
					}
				}
			}
		}
	}
}

.barra{
		height: 15px;
		background: #02aac4;
}