body{
	> footer{
		background: #0F0E0E;
		padding: 20px 0 0;
		> .container{
			padding-bottom: 10px;
		}
		#footer-sidebar{
			> .footer-facebook{
				width: 100%;

			}
			> .footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);

				> h4.widget__title{
					position: relative;
					margin: 12px 0;
					height: 36px;
					font: 22px $font_main;
					color: #fff;
					text-indent: 12px;
					padding-top: 3px;
					> span{
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 4px;
						height: 36px;
						background:#02aac4;
					}
				}
				iframe{
					width: 100%;
					border: none;
					overflow:hidden;
				}
				p{
					color: #777;
					font: bold 11px $font_main;
				}
				&.footer-widget--about{
					a{
						padding: 15px 0 0;
						display: block;
						width: 60%;
					}
					p{
						width: 90%;	
						margin: 20px 0 0;
					}
				}
			}
		}	
		> .direitos{
			margin-top: 50px;
			background: #181818;
			font: 14px $font_main;
			color: $heading_font_color;
			p{
				text-align: center;
			}
		}	
	}
}
.barra{
	height: 15px;
	background: #01579B;
}
footer {
		font: $font_main;
  		color: #FFF; 
  	}
  	footer .top ul {
  		padding-left: 0;
	}
    @media (min-width: 768px) {
      footer .top ul {
      		padding-left: 0;
        }
    }
  	footer .top li {
  		list-style-type:none;
	    background-size: cover;
	    background-position: center;
	    position: relative;
	    padding: 2rem;
	    z-index: 1; 
	}
    @media (min-width: 768px) {
      	footer .top li {
        	width: 100%; 
        	height: 100%;
        	} 
        }
    footer .top li:nth-of-type(1) {
      	background-image: url("../images/bg-sorocaba.jpg"); 
  	}
    footer .top li p {
	    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	    cursor: default; 
  	}
    footer .top li a {
      	text-transform: uppercase;
	    font-weight: bolder;
	    color: #FFF;
	    border: 1px solid #FFF;
	    padding: .50rem;
  	}
    footer .top li:before {
	    content: '';
	    opacity: .70;
	    z-index: -1;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: #000;
	    -webkit-transition: all .2s ease;
	    transition: all .2s ease; 
	}
    footer .top li:hover:nth-of-type(1):before {
     	background-color: #D5D5E5; 
  	}
  	@media (min-width: 768px) {
    footer .top {
      		-webkit-box-orient: horizontal;
      		-webkit-box-direction: normal;
      		-webkit-flex-flow: row;
      		-ms-flex-flow: row;
     		flex-flow: row; 
     	} 
  	}