#welcome{
	> #welcome__itens{
		> .welcome__item{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(3);


		}
	}
}

//content: "";
//	background: #28959e;
 //   width: 100%;
   // display: block;
  //  height: 10px;
  //  position: absolute;
  //  margin-top: 20px;
  //  top: 16px;

#welcome{
	> .bemvindo{
		font: 20px $font_main;
		margin-bottom: 50px;
		text-indent: 70px;
		text-align: justify;
	}
}